extends header.pug
block content
    body.index 
        include ./navbar.pug
        - const one = 'LGBTIQ+'
        - const two = 'LGBTIQ+'
        .main
            .scene
                .word
                    - for (const [index, letter] of one.split('').entries())
                        .letter__wrap(style=`--index: ${index};`)
                            .letter(data-letter=letter)
                            span.letter__panel(aria-hidden='true')= letter
                            span.letter__panel(aria-hidden='true')= two[index]
                            span.letter__panel(aria-hidden='true')= letter
                            span.letter__panel(aria-hidden='true')= two[index]
                            span.letter__panel 
                        section.sign
                            p El más en LGBTIQ+, está para agregar a todos los otros géneros que no están ahí